@{
    ViewData["Title"] = "World Builder";
}

<div class="col-md-12" style="margin-top:10px;">
    <div class="form-inline col-md-12">
        <div class="form-group col-md-4">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" id="search" class="form-control" style="width:90%" placeholder="Search" />
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1"><h4 style="font-weight:bold">OR</h4></div>
        <div class="form-group col-md-4">
            <a class="btn btn-primary col-md-12" href="/WorldBuilder/World/Create">Create Region Set</a>
        </div>
    </div>
</div>


<ul class="nav nav-tabs card-header-tabs" id="regionSetTabs" role="tablist" style="margin-top:100px;">
    <li class="nav-item active">
        <a class="navbar-link" id="owned-tab" data-toggle="tab" role="tab" href="#owned">My Region Sets (<span id="owned-count">0</span>)</a>
    </li>
    <li class="nav-item">
        <a class="navbar-link" id="shared-tab" data-toggle="tab" role="tab" href="#shared">Shared Region Sets (<span id="shared-count">0</span>)</a>
    </li>
    <li class="nav-item">
        <a class="navbar-link" id="browse-tab" data-toggle="tab" role="tab" href="#browse">Browse Region Sets (<span id="browse-count">0</span>)</a>
    </li>
</ul>
<div class="tab-content col-md-12 clearfix" id="regionsetTabsContent">
    <div class="tab-pane fade active in" id="owned" role="tabpanel">
        <h4 class="empty-tab hide">You don't own any region sets.  Would you like to <a href='/WorldBuilder/World/Create'>Create A New Region Set</a>?</h4>
    </div>
    <div class="tab-pane fade" id="shared" role="tabpanel"></div>
    <div class="tab-pane fade" id="browse" role="tabpanel"></div>
</div>


    @section Scripts {
        <script type="text/javascript" src="/js/BootstrapCardBuilder.js"></script>
        <script type="text/javascript" src="/js/WoldBuilderTabLoader.js"></script>
        <script type="text/javascript" src="/js/SearchBox.js"></script>
        <script>
            let getOwnedRegionSetsEndpoint = '/WorldBuilder/WorldApi/GetOwnedRegionSets';
            let getSharedRegionSetsEndpoint = '/WorldBuilder/WorldApi/GetSharedRegionSets';
            let getBrowseableRegionSetsEndpoint = '/WorldBuilder/WorldApi/GetBrowseableRegionSets';
            let cardBuilder = new BoostrapCardBuilder(
                (context) => { return context.regionSetId; },
                () => { return 'col-md-3'; },
                (context) => { return `/WorldBuilder/World/RegionSet?regionSetId=${context.regionSetId}`; },
                (context) => { return context.imageURL; },
                (context) => { return context.name; },
                () => { return null; },
                () => { return "GO »"; }
            );
            let tabFiller = new CardTabFiller(cardBuilder);
            let bindData = (content, tabSelector, countSelector = null, emptyMessageSelector = null) => {
                if (!content || content.length == 0) {
                    $(emptyMessageSelector).show();
                } else {
                    tabFiller.FillTab(tabSelector, content, countSelector);
                }
            }
            let fetchCards = (searchTerm = null) => {
                let queryString = (searchTerm && searchTerm.length > 0) ? '?searchTerm=' + searchTerm : '';
                $.get(getOwnedRegionSetsEndpoint + queryString).done((data) => bindData(data, '#owned', '#owned-count', '#owned .empty-tab'));
                $.get(getSharedRegionSetsEndpoint + queryString).done((data) => bindData(data, '#shared', '#shared-count', '#shared .empty-tab'));
                $.get(getBrowseableRegionSetsEndpoint + queryString).done((data) => bindData(data, '#browse', '#browse-count', '#browse .empty-tab'));
            };

            let searchBox = new SearchBox('#search', 1000, fetchCards);
        </script>
    }
