@{
    ViewData["Title"] = "Home Page";
}

@if (User != null && User.Claims.Any())
{
    <table>
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Value
                </th>
                <th>
                    Issuer
                </th>
                <th>
                    Original Issuer
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in User.Claims)
            {
            <tr>
                <td>@c.Type</td>
                <td>@c.Value</td>
                <td>@c.Issuer</td>
                <td>@c.OriginalIssuer</td>
            </tr>
            }
        </tbody>
    </table>
}